
.map{
  width: 40em;
height: 350px;
  flex: 1 1 0%;
  position: relative;
  
}
.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header >h1{
 margin-left: auto;
  margin-right: 20px;
}
.App-header {
  background-color: #179be8;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-family: 'Metal Mania', cursive;
  
 
  font-size: calc(10px + 2vmin);
  color: rgb(241, 235, 235);
}

.App-link {
  color: #081418;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.results{
  display: flex;
  flex-wrap: wrap;
}
.results .result {
  
    display: flex;
    flex-direction: column;
    
    width: 13em;
margin: 5px;
}
main {
	  width: 100%;
	  max-width: 960px;
	  margin: 0 auto;
  }
  .result >h1{
    cursor: pointer;
  }

/*   begin style description */

.mapdescriptions{
 display: flex;
flex-flow: row wrap;
  margin-top: 50px;


}


.hotelname{
  font-size: 20px;
}
/* .scoreBg{
  background: #003580;
  color: #fff;
  align-items: center;
font-size: 20px;
font-weight: 500;
border-radius: 6px 6px 6px 0;
height: 32px;
width: 32px;
min-width: 32px;

} */

.page-footer {
    width: 100%;
    min-height: 10%;
    color: rgb(250, 240, 230); /* linnen */
    background-color:#179be8; /* outer space */
    padding: 0.5em 0 0 1em;
    flex-grow: 0;


}