#car {
    display: block;
    left: 0px;
    position: absolute;
    top: 49px;
    height: 50px;
    width: 134px;
}

#car2 {
    display: block;
    left: -134px;
    position: absolute;
    top: 49px;
    height: 50px;
    width: 134px;
}

#banner {
    display: block;
    left: -370px;
    position: absolute;
    top: 0px;
    height: 100px;
    width: 370px;
}

#force {
    display: block;
    left: 0px;
    visibility: hidden;
    position: absolute;
    top: 15px;
    height: 40px;
    width: 200px;
}